.DS_Store
.trash
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/
.obsidian/plugins/*/data.json
.obsidian/plugins/*/data/
.obsidian/plugins/*/cache.json
.obsidian/plugins/*/.cache/