.MathJax {
	font-size: 1.25em !important;
}

.HyperMD-header-1::after,
h1 {
	display: block;
	content: "";
	padding-bottom: 2px;
	border-bottom: 1.5px solid black;
}

.HyperMD-header-2::after,
h2 {
	display: block;
	content: "";
	padding-bottom: 2px;
	border-bottom: 1px solid gray;
}

.HyperMD-header-3::after,
h3 {
	display: block;
	content: "";
	padding-bottom: 2px;
	border-bottom: 0.5px solid gray;
}
